<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        PASSWORD GENERATOR EXPO
    </title>
    <link rel="stylesheet" href= "{{ url_for('static', filename = 'css/style.css') }}">
</head>
<body>
    <div class="container">
        {% block home %}{% endblock %}
        {% block msg %}{% endblock %}
        {% block emailput %}{% endblock %}
        {% block socialput %}{% endblock %}
        {% block othersput %}{% endblock %}
        {% block epass %}{% endblock %}
        {% block spass %}{% endblock %}
        {% block opass %}{% endblock %}
        {% block wpass %}{% endblock %}
    </div>
</body>
</html>