{% extends "/base/base.html" %}
{% block home %}
<div class="home">

    <h1 id="passhead">PASSWORD GENERATOR</h1>
    <h2>Get your password instantly 😎</h2>
	<a href="/email password/emailput">
        <button>
            Password for email account 📧
        </button>
    </a>
    <br>
    <a href="/social password/socialput">
        <button>
            Password for social account 🌍
        </button>
    </a>
    <br>
    <a href="/other password/otherput">
        <button>
            Password for other account 🔒
        </button>
    </a>
	
</div>
{% endblock %}